#about {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

#about p {
  width: 470px;
}

#languages {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  width: 350px;
}

#languages thead td {
  font-weight: 600;
}

#languages td {
  border: 1px solid;
  border-radius: 3px;
  padding: 8px 10px;
}
