header * {
  font-family: "Manrope";
  font-weight: 600;
}

header {
  width: 100%;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.icon {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

nav {
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

nav * {
  font-size: 24px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.link {
  transition: 0.3s;
}

.link:hover {
  color: rgba(255, 188, 87);
}

.active {
  color: rgba(255, 188, 87);
}

#socials a {
  transition: 0.3s;
}

#socials a:hover {
  color: white;
}
