#layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

main {
  flex: 1;
  display: flex;
  font-family: "Poppins", sans-serif;
}

/* Button */
.pill {
  border-radius: 35px;
  padding: 14px 24px;
  background-color: rgba(255, 188, 87, 0.8);
  display: flex;
  gap: 10px;
  transition: 0.3s;
}

button {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.35);
  font-size: 18px;
  font-weight: 500;
}

button.pill:hover {
  background-color: rgba(215, 160, 75, 0.8);
}

/* Heading */
.heading h1 {
  font-size: 65px;
  font-weight: 400;
}
